@import url("typography.css");

/* mobile design */

   .main-nav{
        width: 100%;
        background-color: royalblue;
    }
    ul{
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        text-align:center;
        display:none;
    }
    ul li{
        list-style: none;
        display: block;
        padding: 5px;
    }
    ul li:hover{
        background: lightskyblue;
    }
    
    ul li a{
        color: white;
        text-decoration: none;
        padding:10px;
        font-size:15px;
        font-family: 'Roboto', sans-serif;
    }
    .toggle{
        width:100%;
        padding: 10px 20px;
        background: #001f44;
        text-align: right;
        box-sizing: border-box;
        color: #fff;
        font-size: 30px;

    }
body
{
    margin: 0;
    padding: 0;
    background-color:white;
}
.mainpic{
    margin-top:none;
}
.mainpic2{
    margin-top:none;
    width:100%;
    height:auto;
   
}

.content{
    margin-top:30px;
    margin-left:10%;
    margin-right:10%;
}
img {
    width: 100%;
    height: auto;
    max-width:100%;
}
.socialmedia{
    width:70%;
    height:auto;
    margin-left:15%;
}

.logo{
    width: 20%;
    margin-left:10%;
    margin-right: auto;
    margin-top:25px;
    position:absolute;
    
}
.active{
    display:block;
}
/* tablet design */

@media only screen and (min-width: 600px) {
    ul li a{
        color: white;
        text-decoration: none;
        font-size:18px;
    }
    img {
        width: 80%;
        height: auto;
        margin-left: 10%;
    }

    .blogentry{
        columns: 3;
        width:100%;
    }
    .content{
        margin-left:15%;
        margin-right:15%;
    }
    .socialmedia{
        width:60%;
        height:auto;
        margin-left:20%;
    }
}

/* desktop design*/

@media only screen and (min-width: 768px) {

    .active{
        display:inline-block;
    }
    ul li{
        list-style: none;
        display: inline-block;
        padding: 5px;
    }
    
    ul{
        display:unset;
    }
  .toggle{
      display:none;
  }
   
   .img1{
       width:40%;
       height:auto;
       float:left;
       margin-left:10%;
   }
   .img2{
       width: 40%;
       height: auto;
       float:left;
   }

   .img3{
    width: 40%;
    height: auto;
    margin-left:10%; 
}


.mainpic{
    width:80%;
    height:auto;
    margin: 0 auto;
}
.mainpic2{
    width:100%;
    height:auto;
}
.content{
    margin-left:15%;
    margin-right:15%;
}

.logo{
    width:15%;
    height:auto;
    margin: 0 auto;
   }
   .socialmedia{
    width:25%;
    height:auto;
    margin-left:35%;
}

.blogentry{
    columns: 4;
    width:90%;
}
.post1{
    width:50%;
    height:auto;
}

.container {
    width: 50%;
    margin: auto;
    margin-left:30%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    min-width: 100px;
    display: inline-block;
    text-align: right;
}

.form-input {
    min-width: 400px;
}

textarea {
    display: block;
    min-height: 200px;
    margin-left: 100px;
    min-width: 400px;
}

.alert {
    min-height: 338.5px;
}

.alert-success {
    border: 1px solid ;
    background-color: lightgreen; 
}

}

