@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* mobile design */
p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:slategray;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: cornflowerblue;
    text-align: center;
    margin-bottom:0;
    margin-top:0;    
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color:darkslategrey;
    text-align: center;
    margin-top:0;   
}

/* tablet design */
@media only screen and (min-width: 600px) {
    h1{font-size:20px;
    }

    h2{font-size:20px;
    }
    p{font-size:18px;
    }
}


/* desktop design*/

@media only screen and (min-width: 768px) {
    h1{font-size:20px;
        text-align:left;
    }

    h2{font-size:18px;
        text-align:left;
        
    }
    p{
        font-size: 15px;
        text-align:left;
    }

    
}