main {
    width: 960px;
    margin: 0px auto;
    background-color: red;
}

.fullcard {
    width: 45%;
}

.fullcard:first-child{
    float: left;
}

.fullcard:nth-child(2){
    float:right;
}
.clearfix{
    clear:both;
}

.fullcard img {
    width: 100%;
}

.fullcard2 {
    width: 33%;
}

.fullcard2:first-child{
    float: left;
}

.fullcard2:nth-child(2){
    float:left;
}
.fullcard2:nth-child(3){
 float:left;
max-height:280px;
overflow:auto;
 
}

.clearfix{
    clear:both;
}

.fullcard2 img {
    width: 100%;
}

.fullcard3 {
    width: 30%;
    max-height: 280px;
    overflow:auto;
}


