.box {
    min-width: 400px;
    min-height: 200px;
}

.box1 {
    background-color: lightgreen;
}

.box2 {
    background-color: thistle;
}

.bordered {
    border: 1px solid darkorange;
}

.margin20 {
    margin: 20px;
}