@import url("typography.css");

    

/* mobile design */
           
.bodytext{
width:40%;
padding:10px;
max-height:200px;
overflow:auto;
}

.bodytext:first-child{
    float:left;}

.bodytext:nth-child(1){
    float:right;}


    /* desktop design */

@media only screen and (min-width: 768px) {

    .bodytext{
    column-count: 2;
    width:45%;
    overflow: none;
    max-height: none;
    margin-top: none;
}
    
}


