@import url('https://fonts.googleapis.com/css?family=Lato');

p{
    font-family: 'lato', san-serif;
    font-size: 14px;
    background-color:lightcoral;
    line-height:28px;
    font-weight:bolder;
    font-style: italic;

}

p::first-letter{
    font-size: 40px;
    vertical-align: middle;
    font-family: cursive;
}