@import url("typography.css");

    

/* mobile design */
     
.main-nav 
{
    text-align:center;
    float: center;
    list-style: none;
    margin-top: 12px;
    }
    
.main-nav li
{
    display: inline-block; 
    margin-right: 72px;
    margin-bottom:10px;
}

.main-nav li a
{   color:darkslategray; 
	text-decoration: none;
	padding: 1px 45px;
	font-size: 20px;
    border: 1px solid gray;
}

.main-nav li.active a
{ background-color: cornflowerblue; 
border:2px cornflowerblue;
color: white;
	
}
.bodytext{
width:90%;
padding:10px;
}

img {
    width: 100%;
    height: auto;
}

    /* desktop design */

@media only screen and (min-width: 768px) {


    .img {
        width: 45%;
        height: auto;
        float:left;
        position:absolute;
        }

    .img2 {
        width: 55%;
        height: auto;
        float:right;
        margin-top:100px;
        }

    .bodytext{
         column-count: 2;
         width:45%;
         position:absolute;
         margin-top:600px;
         }
        
    .bodytext2{
          column-count: 2;
          width:45%;
          position:absolute;
          margin-left:650px;
          margin-top:600px;
          
    }
    
    .main-nav li a
    { 
         font-size: 25px;
        }
    
    .container{
        position:relative;
        background-color:red;
    }
}
