body {
    margin: 0px;

}


ul{
    list-style-type: none;
    margin: 0px;
}

li {
    display: inline-block;
}

nav{
    background-color: red;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0px;
  
}

main{
    margin-top: 58px;
    width: 768px;
    margin-left: auto;
    margin-right:auto;
    background-color:turquoise;

}

.relative-position {
    position: relative;
    width: 250px;
    height: 150px;
    background-color: peru;

}